
    <!-- Comment Section -->
    <div class="card px-4 py-3">
        <h4 class="mb-4">Comments ({{ comments.length }})</h4>

    <!-- Add Comment Form -->
      <div *ngIf="self" class="comment">
        <div class="media comment-body">
          <img class="d-flex mr-3 user-avatar" src="{{ self.pictureUrl }}" alt="User Avatar">
          <div class="media-body comment-content">
            <div class="comment-text">
                <form #commentForm="ngForm" (ngSubmit)="submitComment(commentForm)">
                    <div class="form-group">
                      <textarea id="comment" name="comment" class="form-control" rows="3" placeholder="Write a comment" ngModel required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="commentForm.invalid || !commentForm.controls['comment'] || commentForm.controls['comment'].value.trim() === ''">Submit Comment</button>
                  </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Comment 1 -->
      <div class="comment" *ngFor="let comment of comments; let i = index">
        <div class="media comment-body">
          <img class="d-flex mr-3 user-avatar" src="{{ comment.user?.pictureUrl }}" alt="User Avatar">
          <div class="media-body comment-content">
            <div class="comment-user">
              <b>{{ comment.user?.name }}</b>
              <small class="ml-2">{{ comment.posted | date:'medium' }}</small>
            </div>
            <div class="comment-text mt-1">
              <pre>{{ comment.content }}</pre>
            </div>
            <div class="comment-actions">
              <button class="btn-like" [ngClass]="{'liked': comment.liked}" (click)="toggleLike(comment)">
                <i class="fas fa-thumbs-up"></i> Like ({{ comment.likes }})
              </button>
              <button class="btn-reply" (click)="toggleReplies(i)">
                <i class="fas fa-reply"></i> Reply ({{ comment.totalReplies }})
              </button>
              <div class="comment-replies mt-4" [ngClass]="{'d-none': repliesHidden[i]}">
                <div class="reply-form mt-3" *ngFor="let reply of comment.replies">
                  <div class="media comment-body">
                    <img class="d-flex mr-3 user-avatar" src="{{ reply.user?.pictureUrl }}" alt="User Avatar">
                    <div class="media-body comment-content">
                      <div class="comment-user">
                        <b>{{ reply.user?.name }}</b> 
                        <small class="ml-2">{{ reply.posted | date:'medium' }}</small>
                      </div>
                      <div class="comment-text mt-1">
                        <pre>{{ reply.content }}</pre>
                      </div>
                      <div class="comment-actions">
                        <button class="btn-like" [ngClass]="{'liked': reply.liked}" (click)="toggleLike(reply)">
                          <i class="fas fa-thumbs-up"></i> Like ({{ reply.likes }})
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div *ngIf="self" class="reply-form mt-4">
                  <div class="media comment-body pl-0">
                    <img class="d-flex mr-3 user-avatar" src="{{ self.pictureUrl }}" alt="User Avatar">
                    <div class="media-body comment-content">
                      <div class="comment-text">
                          <form #replyForm="ngForm" (ngSubmit)="submitReply(comment, replyForm)">
                              <div class="form-group">
                                <textarea name="reply" class="form-control" rows="2" placeholder="Write a comment" ngModel required></textarea>
                              </div>
                              <button type="submit" class="btn btn-primary" [disabled]="replyForm.invalid || !replyForm.controls['reply'] || replyForm.controls['reply'].value.trim() === ''">Submit Comment</button>
                            </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more comments as needed -->
      

    </div>