<h1 class="my-4">Compose New Post</h1>

<!-- Post Form -->
<form>
    <div class="form-group">
        <label for="postTitle">Post Title</label>
        <input name="title" type="text" class="form-control" id="postTitle" placeholder="Enter post title" [(ngModel)]="inputs.title" required>
    </div>
    <div class="form-group">
        <label for="editor-container">Post Content</label>
        <div id="editor-container">
            <ckeditor name="content" [editor]="Editor" [(ngModel)]="inputs.content"></ckeditor>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-dark" (click)="submit()">Publish Post</button>
</form>