<!-- Blog Post -->
<div *ngIf="post" class="post">
    <div class="card mb-4 mb-5">
        <div class="img-wrapper" *ngIf="post.thumbnail" [innerHTML]="post.thumbnail"></div>
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <div class="card-text text-muted">
                <small>{{ post.created | date:'MMM d, y, HH:mm' }} by <a href="/home?email={{ post.author }}">{{ post.authorDetails?.name ?? post.author }}</a>.&nbsp;&nbsp;</small>
                <small *ngIf="post.updated">Last updated {{ post.updated | date:'MMM d, y, HH:mm' }}.</small>
                <span *ngIf="email === post.author" class="ml-2">
                    <button class="btn-icon btn-sm" (click)="editPost()"><i class="fas fa-pen"></i></button>
                    <button class="btn-icon btn-sm ml-1" (click)="deletePost()"><i class="fas fa-trash"></i></button>
                </span>
            </div>
            <div class="card-text mt-4 post-content" [innerHTML]="post.content"></div>
        </div>
    </div>

    <app-comment-section [post]="post"></app-comment-section>
</div>
